<!-- search -->
<!-- start with searching within title -->
<div class="container">
  <%= form_tag(books_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Books" %>
    <%= submit_tag "Search", :name => nil %>
  <% end %>
</div>

<div class="container">
  <% @books.each do |book| %>
    <hr>
    <p>
      <%= book.title %>
    </p>
    <p>
      Your price: <%= book.price %>
    </p>
    <p>
      RRP: <%= book.recommended_retail_price %>
    </p>
    <p>
      <%= link_to 'View details', book, target: '_blank' %>
    </p>
    <hr>
  <% end %>
</div>
