<!-- search -->
<!-- start with searching within title -->
<div class="container">
  <%= form_tag(books_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Books" %>
    <%= submit_tag "Search", :name => nil %>
  <% end %>
</div>

<div class="container">
  <% @books.each do |book| %>
    <hr>
    <h3>
      <%= book.title %>
    </h3>
    <h5>
      <i><%= book.author %></i>
    </h5>
    <p>
      <strong>Your price:</strong> <%= book.price %>
    </p>
    <p>
      <strong>RRP:</strong> <%= book.recommended_retail_price %>
    </p>
    <p>
      <strong>Categories:</strong> <%= book.category %>
    </p>
    <p>
      <%= link_to 'View details', book, target: '_blank' %>
    </p>
    <hr>
  <% end %>
</div>
