<div class="container">
  <div class="row bg-white p-4">
    <div class="col">
      <%= form_for @book, url: "#{books_path}", html: { multipart: true } do |form| %>
        <% if book.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

            <ul>
            <% book.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>


        <div class="field row">
          <div class="col-3">
            <%= form.label :title, class: "pt-1 font-weight-bold" %>
          </div>
          <div class="col-8">
            <%= form.text_field :title, id: :book_title, class: "width-large p-1 rounded" %>
          </div>
        </div>

        <div class="field row mt-3">
          <div class="col-3">
            <%= form.label :authors, class: "pt-1 font-weight-bold" %>
          </div>
          <div class="col-8">
            <%= form.text_field :author, id: :book_author, class: "width-large p-1 rounded" %>
          </div>
        </div>

        <div class="field row mt-3">
          <div class="col-3">
            <%= form.label :price, class: "pt-1 font-weight-bold" %>
          </div>
          <div class="col-8">
            <%= form.number_field :price, id: :book_price, class: "width-large p-1 rounded" %>
          </div>
        </div>

        <div class="field row mt-3">
          <div class="col-3">
            <%= form.label :postage_cost, class: "pt-1 font-weight-bold" %>
          </div>
          <div class="col-8">
            <%= form.number_field :shipping_cost, id: :book_shipping_cost, class: "width-large p-1 rounded" %>
          </div>
        </div>

        <div class="field row mt-3">
          <div class="col-3">
            <%= form.label :categories, class: "pt-1 font-weight-bold" %>
          </div>
          <div class="col-8">
            <%= form.text_field :category, id: :book_category, class: "width-large p-1 rounded" %>
          </div>
        </div>

        <div class="field row mt-3">
          <div class="col-3">
            <%= form.label :condition, class: "pt-1 font-weight-bold" %>
          </div>
          <div class="col-8">
            <%= form.text_field :condition, id: :book_condition, class: "width-large p-1 rounded" %>
          </div>
        </div>

        <div class="field row mt-3">
          <div class="col-3">
            <%= form.label :book_image, class: "pt-1 font-weight-bold" %>
          </div>
          <div class="col-8">
            <%= form.file_field :book_image, class: "width-large p-1 rounded" %>
          </div>
        </div>

        <div class="row mt-5">
          <div class="col">
            <p><i>(Optional)</i></p>
          </div>
        </div>

        <div class="field row mt-3">
          <div class="col-3">
            <%= form.label :description, class: "pt-1 font-weight-bold" %>
          </div>
          <div class="col-8">
            <%= form.text_field :description, id: :book_description, class: "width-large p-1 rounded" %>
          </div>
        </div>

        <div class="field row mt-3">
          <div class="col-3">
            <%= form.label :RRP, class: "pt-1 font-weight-bold" %>
          </div>
          <div class="col-8">
            <%= form.number_field :recommended_retail_price, id: :book_recommended_retail_price, class: "width-large p-1 rounded" %>
          </div>
        </div>

        <div class="field row mt-3">
          <div class="col-3">
            <%= form.label :format, class: "pt-1 font-weight-bold" %>
          </div>
          <div class="col-8">
            <%= form.text_field :format, id: :book_format, class: "width-large p-1 rounded" %>
          </div>
        </div>

        <div class="field row mt-3">
          <div class="col-3">
            <%= form.label :publisher, class: "pt-1 font-weight-bold" %>
          </div>
          <div class="col-8">
            <%= form.text_field :publisher, id: :book_publisher, class: "width-large p-1 rounded" %>
          </div>
        </div>

        <div class="field row mt-3">
          <div class="col-3">
            <%= form.label :pages, class: "pt-1 font-weight-bold" %>
          </div>
          <div class="col-8">
            <%= form.number_field :pages, id: :book_pages, class: "width-large p-1 rounded" %>
          </div>
        </div>

        <div class="field row mt-3">
          <div class="col-3">
            <%= form.label :isbn10, class: "pt-1 font-weight-bold" %>
          </div>
          <div class="col-8">
            <%= form.text_field :isbn10, id: :book_isbn10, class: "width-large p-1 rounded" %>
          </div>
        </div>

        <div class="field row mt-3">
          <div class="col-3">
            <%= form.label :isbn13, class: "pt-1 font-weight-bold" %>
          </div>
          <div class="col-8">
            <%= form.text_field :isbn13, id: :book_isbn13, class: "width-large p-1 rounded" %>
          </div>
        </div>

        <div class="actions row mt-5 mb-3">
          <div class="col d-flex justify-content-center">
            <%= form.submit %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
