<p id="notice"><%= notice %></p>

<div class="container">
  <% @books.each do |book| %>
    <div class="container bg-white border-grey p-4">
      <div class="col">
        <div class="row">
          <div class="col-6">
            <%= image_tag book.book_image.url(:medium), class: "book-overview-image" %>
          </div>
          <div class="col-6 text-center">
            <h4 class="font-heading pt-2">
              <%= book.title %>
            </h4>
            <h6 class="mt-4 font-heading">
              <%= book.author %>
            </h6>

            <%= link_to "View Details", book, target: "_blank", class: "btn-blue btn font-white mt-5", :method => :get %>

          </div>
        </div>
        <div class="row bg-green pt-2 pb-2 mt-4 font-white">
          <div class="col rrp"><strong>RRP:</strong> $<%= book.recommended_retail_price %>.00</div>
          <div class="col your-price"><strong>Your price:</strong> $<%= book.price %>.00</div>
        </div>
      </div>
    </div>
  <% end %>
</div>
