<p id="notice"><%= notice %></p>

<p>
  <strong>Seller:</strong>
  <%= link_to @book.user.profile.username,  @book.user.profile, target: '_blank' %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author(s):</strong>
  <%= @book.author %>
</p>

<p>
  <%= image_tag @book.book_image.url(:medium) %>
</p>

<% if @book.user.id != current_user.id %>
  <%= form_tag charges_path do %>

    <%= hidden_field_tag "book_id", @book.id %>

    <article>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
    </article>


    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="<%= @book.title %>"
            data-amount="<%= (@book.price + @book.shipping_cost) * 100 %>"
            data-email="<%= current_user.email %>"
            data-locale="auto">
    </script>
  <% end %>
<% end %>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>

<p>
  <strong>Shipping cost:</strong>
  <%= @book.shipping_cost %>
</p>

<p>
  <strong>Categories:</strong>
  <%= @book.category %>
</p>

<!-- <p>
  <strong>Sold:</strong>
  <%#= @book.sold %>
</p> -->

<p>
  <strong>Recommended retail price:</strong>
  <%= @book.recommended_retail_price %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @book.condition %>
</p>

<p>
  <strong>Format:</strong>
  <%= @book.format %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @book.publisher %>
</p>

<p>
  <strong>Pages:</strong>
  <%= @book.pages %>
</p>

<p>
  <strong>Isbn10:</strong>
  <%= @book.isbn10 %>
</p>

<p>
  <strong>Isbn13:</strong>
  <%= @book.isbn13 %>
</p>

<% if @book.user.id == current_user.id %>
  <%= link_to 'Edit', edit_book_path(@book) %> |
  <%= link_to 'Destroy', @book, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
