<!DOCTYPE html>
<html>
  <head>
    <title>TheBookPlace</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'partials/navbar' %>
    <%#= render 'devise/menu/registration_items' %>
    
    <%= yield %>
  </body>
</html>
