<!DOCTYPE html>
<html>
  <head>
    <title>The Book Place</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'partials/navbar' %>

    <div class="container">
      <%= yield %>
    </div>

    <%#= content_tag('pre', debug(params)) %>

  </body>
</html>
